project:
  type: book
  output-dir: docs

book:
  title: "Business Data Science"
  subtitle: A guide for data-driven decisions
  author: "Ignacio Martinez"
  abstract: "This book provides a comprehensive guide to the principles and applications of business data science, with a focus on making sound, data-driven decisions. We begin by laying the groundwork, introducing core concepts such as the potential outcomes framework, the importance of baselines, and the fundamentals of Bayesian thinking. The book then delves into the gold standard of causal inference: randomized controlled trials (RCTs). We explore the design and analysis of RCTs, including factorial designs and instrumental variable approaches. Recognizing that RCTs are not always feasible, we then present a variety of other powerful methods, including matching, causal impact analysis, and Bayesian structural time-series. The book also covers generalized linear models, from Bayesian linear models to more advanced topics like meta-analysis and hurdle models. Finally, we explore the use of stochastic trees for causal inference, with chapters on Bayesian Additive Regression Trees (BART), Bayesian Causal Forests (BCF), and other cutting-edge techniques. Throughout the book, the emphasis is on the practical application of these methods to solve real-world business problems"
  license: "CC BY-NC"
  repo-actions: [edit]
  site-url: https://book.martinez.fyi
  repo-url: https://github.com/ignacio82/book
  repo-branch: master
  favicon: hex.png
  comments:
    utterances:
      repo: ignacio82/book
      label: Utterances

  date: "10/04/2024"
  cover-image: cover.png
  image: hex.png
  chapters:
    - part: index.qmd
      chapters: 
        - chapter_01.qmd
        - potential_outcome.qmd
        - baseline.qmd
        - bayes101.qmd
        - decisions_first.qmd
        - rce.qmd
        - surrogates.qmd
    - part: rct.qmd
      chapters: 
        - rct_basic.qmd
        - bad.qmd
        - factorial.qmd
        - iv.qmd    
        - coordination.qmd
        - strength.qmd
    - part: other_methods.qmd
      chapters: 
        - matching.qmd
        - causalimpact.qmd
        - bsynth.qmd
    - part: glm.qmd
      chapters: 
        - blm.qmd     
        - meta-analysis.qmd
        - beyond_normality.qmd     
        - hurdle.qmd
    - part: stochastictrees.qmd 
      chapters: 
        - bart.qmd
        - bcf.qmd
        - longbet.qmd
        - causalPropensity.qmd
    - references.qmd
  sidebar: 
    logo: hex.png
bibliography: references.bib
google-scholar: true 
citation:
  type: book
  container-title: "Business Data Science: A guide for data-driven decisions"
  url: https://book.martinez.fyi
  
format:
  html:
    theme: cosmo
    resources:
      - shinylive-sw.js
    open-graph: true
    twitter-card: true
    number-depth: 2
    include-in-header:
      text: |
        <script defer src="https://umami.martinez.fyi/script.js" data-website-id="bc587120-3bd3-4c2d-b463-5eb64dd4e330"></script>
    code-tools:
      source: true   

    filters:
      - social-share
    share:
      permalink: "https://book.martinez.fyi/"
      description: "Business Data Science"
      linkedin: true
      email: true
      mastodon: true
  


resources:
  - CNAME
  - b1020836019d4ba6810c61a919d3867a.txt
  - robots.txt
  - llms.txt
execute:
  freeze: auto

